/* Validation Related Styles */
.form input:valid {
  /* valid pseudo-selector selects those input fields which have valid values in them */
  border-bottom: 2px solid var(--green-dark);
}

.form input:invalid {
  /* invalid pseudo-selector selects those input fields which have invalid values in them */
  border-bottom: 2px solid var(--red);
}

/* Aesthetics related styles */

.container {
  background: linear-gradient(to right bottom, var(--blue), var(--blue-dark));
  height: 100vh;
  width: 100vw;
}

/* This card contains the form elements */
.card {
  background: var(--main-background);
  /* To center the card */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.card-header {
  background-color: var(--magenta);
  color: white;
  padding: 3rem;
  text-align: center;
}

.card-header h1 {
  font-weight: 400;
}

.card-content {
  padding: 1rem;
}

.card-footer {
  padding: 1rem;
}

.form {
  /* More on flex here: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.form > * {
  /* Selects all the child elements of the form class and applies a margin on them */
  margin: 1rem 0;
}

.form .input-group {
  width: 80%;
}

.form input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid var(--main-dark);
  padding: 1rem 0;
  box-shadow: none;
  width: 100%;
}

.form input:focus + label {
  /* When any input is focused show its label. */
  opacity: 0.6;
  font-size: 1.2rem;
}

.form input:focus::placeholder {
  /* When any input is focused hide its placeholder text */
  color: transparent;
}

.form label {
  display: block;
  color: var(--main-dark);
  width: 100%;
  opacity: 0;
  font-size: 0;
}

.card-footer {
  text-align: center;
}

.card-footer .button {
  background-color: var(--main-dark);
  border: none;
  padding: 1rem 3rem;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.card-footer .button:hover {
  background-color: black;
}

@media only screen and (max-width: 600px) {
  /* Increase the width of card on mobile devices */
  .card {
    width: 90%;
  }
}
