.container {
    background: linear-gradient(to right bottom, var(--blue), var(--blue-dark));
    height: 140vh;
    width: 100%;
  }

  .card-header h1 {
    font-weight: 400;
    text-align: left;
  }

  .card-header p {
    text-align: left;
    font-weight: 400;
  }
  
  .card-content {
    padding: 1rem;
  }

  .details{
    padding: 2rem;
  }

  .details h1{
    font-weight: 400;
  }
  
  .details p {
    margin-top: 15px;
    font-weight: 400;
    font-size: 12px;
    text-align: justify;
  }

  .details ul{
    margin-left: 15px;
    margin-top: 12px;
  }

  .details ul li {
    margin-top: 12px;
    font-weight: 400;
    font-size: 14px;
  }

  .details ul li p {
    font-weight: 400;
    font-size: 14px;
  }
  .card-footer {
    padding: 1rem;
  }

  .card-footer {
    text-align: center;
  }
  
  .card-footer .button {
    background-color: var(--main-dark);
    border: none;
    padding: 1rem 3rem;
    color: white;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .card-footer .button:hover {
    background-color: black;
  }
  
  @media only screen and (max-width: 600px) {
    /* Increase the width of card on mobile devices */
    .card {
      width: 90%;
    }
  }